# RPC endpoint for Base mainnet
BASE_RPC_URL=https://mainnet.base.org

# Private key of the wallet that owns the treasury (no 0x prefix)
PRIVATE_KEY=your_private_key_here

# ERC-8004 agent token ID (set after registration)
AGENT_TOKEN_ID=

# Treasury contract address (set after deployment)
TREASURY_ADDRESS=

# Optional: Lido APR API
LIDO_APR_API=https://eth-api.lido.fi/v1/protocol/steth/apr/sma
